# While loops

In [ ]:
for each_thing in a_set_of_things:
    print(each_thing)

In [ ]:
# syntax...
while condition:
    do stuff

In [ ]:
number = 10

while number >= 0:
    print(number)
    number -= 1 # number = number - 1

In [ ]:
getting_user_input = True

while getting_user_input:
    if they enter their name correctly:
        getting_user_input = False

In [2]:
alphabet = 'abcdefg'
nums = [ 0, 1, 2**(1/2) ]
print(alphabet)
print(nums)

abcdefg
[0, 1, 1.4142135623730951]

In [4]:
len(alphabet)
len(nums)

3

In [ ]:
for each_num in range(len(nums)):

In [5]:
for each_num in nums:
    print(each_num)

0
1
1.4142135623730951

In [11]:
'abc' in alphabet

True

## indexing

In [14]:
nums = [0, 2, 3, 4, 6, 18]

In [18]:
nums[-3]

4

## slicing

In [24]:
nums[1::2]
nums[::-1]

[18, 6, 4, 3, 2, 0]

## concatenation

In [27]:
alphabet + ' hi bob ' + alphabet

'abcdefg hi bob abcdefg'

## f strings

In [34]:
age = 25
name = 'daniela'

str(age) + name

my_new_string = f'{name} is {age} years old'

print(my_new_string)

daniela is 25 years old

In [38]:
print( name.upper() )
print( name.title() )

DANIELA
Daniela

In [39]:
name.istitle()

False

In [44]:
text = 'hi,my,name,is,john'
lst = text.split(',')
lst

# join
str_join = ','.join(lst)
str_join

'hi,my,name,is,john'

In [46]:
# in place
lst.sort()
lst

['hi', 'is', 'john', 'my', 'name']

In [49]:
lst = [4,2,1,5]
sorted_lst = sorted(lst)
print(sorted_lst)
print(lst)

[1, 2, 4, 5]
[4, 2, 1, 5]

In [51]:
my_tuples = (0,1,2,3,4,5,6)
my_tuples[0:3]

(0, 1, 2)

In [52]:
my_tuples[0] = 10

TypeError: 'tuple' object does not support item assignment

In [57]:
lst_in_lst = [0,1,2,3, [1,3,4,5]]
lst_in_lst[-1][1]

3

## Dictionaries

In [66]:
d = {}
# d = dict()

d['NEUG231'] = 'Programming'
d['NEUG200A'] = 'Basket Weaving'

d

{'NEUG231': 'Programming', 'NEUG200A': 'Basket Weaving'}

In [64]:
del d['NEUG231']

In [67]:
'NEUG231' in d

True

In [68]:
for each_key in d.keys():
    print(each_key)

NEUG231
NEUG200A

In [69]:
for each_val in d.values():
    print(each_val)

Programming
Basket Weaving

In [70]:
# tuple unpacking
for k,v in d.items():
    print(f'Key is {k}, value is {v}')

Key is NEUG231, value is Programming
Key is NEUG200A, value is Basket Weaving

In [ ]:
d = {'NEUG231': 'Programming', 'NEUG200A': 'Basket Weaving'}

In [71]:
word_list = ['john', 'leah', 'daniela']

word_d = {}

for each_word in word_list:
    word_d[each_word] = 0
    
word_d

{'john': 0, 'leah': 0, 'daniela': 0}

## numpy

In [72]:
import numpy as np

In [79]:
my_arr = np.arange(0,10).reshape(2,5)
my_arr.T

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [80]:
x = np.array([1,2,3,4,5,5])
x

array([1, 2, 3, 4, 5, 5])

In [84]:
x = np.zeros( (10,10) )
x = np.ones( (10,10) )

x

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [90]:
x = np.full( 10, np.nan )
# x = np.zeros(10)
x
for i in range(9):
    x[i] = np.random.random()
    
print(x)

[0.31828593 0.45485774 0.46118697 0.55692324 0.1448127  0.66538391
 0.60434344 0.94077375 0.05047055        nan]

In [96]:
x = np.random.random(10).
x.max()
x.mean()

0.47874116945766154

In [101]:
x = np.random.random(10).reshape(2,5)
print(x)
np.mean(x, axis = 1)

[[0.55075    0.47954951 0.78148263 0.15225381 0.99305095]
 [0.37770865 0.21145945 0.71097444 0.38758972 0.24164303]]

array([0.59141738, 0.38587506])

In [111]:
x = np.random.random(10).reshape(2,5)
print(x)

[[0.73047861 0.43748722 0.55537674 0.71616494 0.44288773]
 [0.52003529 0.46598731 0.3639782  0.52382459 0.34648347]]

array([0.73047861, 0.55537674, 0.44288773])

In [91]:
if np.any(np.isnan(x)):
    raise ValueError('you messed up and there are nans in your data!')

ValueError: you messed up and there are nans in your data!